
// @import "../node_modules/pelvris-ui/css/index.css";

// @import "../node_modules/pelvris-ui/sass/style.scss";

body {
    background-color: rgb(153, 153, 212);
    color: white;
    margin: 50px;
}

