

//nuetral colors
$white: #fff;
$dark: #000;


// design colors
$header_light: #7FA302;
$header_dark : #6F8B0A;


// text color
$text_color: rgb(37, 37, 37);

// border color
$border_color: #898686;

// link colors
$link_color: #898686;




















